/target/
# Default ignored files
/.idea/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
### IntelliJ IDEA ###
target
*.iws
*.iml
*.ipr
*.zip
*.xml
*.bat
/out/